{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<br>
<br>
<br>
<div align="center">
    <font face="Playfair Display Bold" size="7">MENU.</font>
</div>
<table width="100%">
    <thead>
        <tr>
            <th style="text-align: left;">
                <font face="Playfair Display Bold" size="6">Dessert.</font>
            </th>
        </tr>
        <tr>
            <th><p></p></th>
        </tr>
        <tr>
            <th width="25%" style="text-align: center;">
                <img src="../static/images/提拉米蘇.jpg" alt="提拉米蘇" width="150">
            </th>
            <th width="25%" style="text-align: center;">
                <img src="../static/images/巴斯克.jpg" alt="巴斯克蛋糕" width="150" >
            </th>
            <th width="25%" style="text-align: center;">
                <img src="../static/images/水果千層.jpg" alt="水果千層" width="150">
            </th>
            <th width="25%" style="text-align: center;">
                <img src="../static/images/草莓蛋糕.jpg" alt="草莓蛋糕" width="150" >
            </th>
        </tr>
        <tr>
            <th width="25%" style="text-align: center;">
                <font size="5">提拉米蘇</font>
            </th>
            <th width="25%" style="text-align: center;">
                <font size="5">巴斯克蛋糕</font>
            </th>
            <th width="25%" style="text-align: center;">
                <font size="5">水果千層蛋糕</font>
            </th>
            <th width="25%" style="text-align: center;">
                <font size="5">草莓蛋糕</font>
            </th>
        </tr>
        <tr>
            <th width="25%" style="text-align: center;">
                <font size="3">＄120</font>
            </th>
            <th width="25%" style="text-align: center;">
                <font size="3">＄150/片</font>
            </th>
            <th width="25%" style="text-align: center;">
                <font size="3">＄180/片</font>
            </th>
            <th width="25%" style="text-align: center;">
                <font size="3">＄180</font>
            </th>
        </tr>
        <tr>
            <th><p></p></th>
        </tr>
        <tr>
            <th style="text-align: left;">
                <font face="Playfair Display Bold" size="6">Drinks.</font>
            </th>
        </tr>
        <tr>
            <th><p></p></th>
        </tr>
        <tr>
            <th width="25%" style="text-align: center;">
                <img src="../static/images/美式.jpg" alt="美式" width="150">
            </th>
            <th width="25%" style="text-align: center;">
                <img src="../static/images/拿鐵.png" alt="拿鐵" width="150" >
            </th>
            <th width="25%" style="text-align: center;">
                <img src="../static/images/摩卡.jpg" alt="摩卡" width="150">
            </th>
            <th width="25%" style="text-align: center;">
                <img src="../static/images/焦糖瑪奇朵.jpg" alt="焦糖瑪奇朵" width="150" >
            </th>
        </tr>
        <tr>
            <th width="25%" style="text-align: center;">
                <font size="5">美式咖啡</font>
            </th>
            <th width="25%" style="text-align: center;">
                <font size="5">香草拿鐵</font>
            </th>
            <th width="25%" style="text-align: center;">
                <font size="5">摩卡咖啡</font>
            </th>
            <th width="25%" style="text-align: center;">
                <font size="5">焦糖瑪奇朵</font>
            </th>
        </tr>
        <tr>
            <th width="25%" style="text-align: center;">
                <font size="3">＄100</font>
            </th>
            <th width="25%" style="text-align: center;">
                <font size="3">＄130</font>
            </th>
            <th width="25%" style="text-align: center;">
                <font size="3">＄130</font>
            </th>
            <th width="25%" style="text-align: center;">
                <font size="3">＄130</font>
            </th>
        </tr>
        <tr>
            <th><p></p></th>
        </tr>
        <tr>
            <th width="25%" style="text-align: center;">
                <img src="../static/images/巧克力.jpg" alt="巧克力" width="150">
            </th>
            <th width="25%" style="text-align: center;">
                <img src="../static/images/紅茶拿鐵.jpg" alt="紅茶拿鐵" width="150" >
            </th>
            <th width="25%" style="text-align: center;">
                
            </th>
            <th width="25%" style="text-align: center;">
                
            </th>
        </tr>
        <tr>
            <th width="25%" style="text-align: center;">
                <font size="5">經典巧克力</font>
            </th>
            <th width="25%" style="text-align: center;">
                <font size="5">紅茶拿鐵</font>
            </th>
            <th width="25%" style="text-align: center;">
                
            </th>
            <th width="25%" style="text-align: center;">
                
            </th>
        </tr>
        <tr>
            <th width="25%" style="text-align: center;">
                <font size="3">＄120</font>
            </th>
            <th width="25%" style="text-align: center;">
                <font size="3">＄120</font>
            </th>
            <th width="25%" style="text-align: center;">
                
            </th>
            <th width="25%" style="text-align: center;">
                
            </th>
        </tr>
    </thead>
</table>
{% endblock %}